
*{
    margin: 0px;
    padding: 0px;
}



.botonFormulario{
    padding: 15px;
    margin-top: 25px;
    padding-right: 25px;
    font-size: 20px;
    text-align: center;
    border-radius: 5%;
    width: 150px;
    height: 120px; 
}
form{
    margin-top: 5%;
    width: 75%;
    text-align: center;
}

form label{
    font-size: 17px;
}